header {
    background-image: url(/img/pattern.png) ;
    background-color: rgba(78,160,255,255);
    background-repeat: 10;
    height: 180px;

}

h1 {
    font-size: 30px;

}

.logo {
    width: 20%;

}

.subtitles {
    color: grey;

}

.author {
    color: rgba(78,160,255,255);

}

.caption {
    color: grey;
    font-size: 10px;

}

.highlighted {
    background-color: yellow;
    font-style: normal;

}

table {
    border-collapse: collapse;

}

.main-row {
    background-color: rgba(32,169,229,255);
    color: white;

}

.row1 {
    background-color: rgba(177,229,242,255);

}
